.md .camera-height {
  height: 330px;
}

.ios .camera-height {
  height: 340px;
}

.take-btn {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 20px;
}

.last-image img {
  position: fixed;
  top: 220px;
  width: 160px;
  height: 160px;
  opacity: 0.5;
}

.zoom-bar {
  position: fixed;
  width: 100%;
}

.images {
    margin-top: 80px;
}

.images ~ .images {
    margin-top: 0px;
}
